.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 7rem 3rem;
}

.buttons span,
.start {
  padding: 1rem 3rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}

.start {
  border: 1px solid var(--text-primary);

  font-size: 1.25rem;
}

.starttitle {
  font-size: 2rem;
}

.question {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
}
.question span {
  font-size: 0.375em;
}

.buttons {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.buttons span {
  font-size: 1.5rem;
}

.fam,
.incorrect {
  background-color: red;
}

.incorrect,
.correct {
  display: block;
  width: 1rem;
  height: 1rem;
}

.progress {
  display: flex;
  flex-wrap: wrap;
  gap: 0.125rem;
}

.uomo {
  background-color: aqua;
}

.neut,
.correct {
  background-color: greenyellow;
}

@media only screen and (min-width: 600px) {
  .buttons {
    flex-direction: row;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
  .uomo {
    background-color: blue;
  }
  .neut,
  .correct {
    background-color: green;
  }
}
